.button {
  padding: 2rem 5rem;

  color: $solid-white;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;

  background: $light-blue;
  border: 0;
  border-radius: 0.5rem;

  transition: 0.3s all;
  @include font-Open-Sans-bold;
  &:hover {
    color: $light-blue;

    background: $dusty-blue;

    transition: 0.3s all;
  }
}
